h1 {
  letter-spacing: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
h2 {
  margin-bottom: 10px;
  color: #f05050;
  font-size: 14px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
  font-size: 13px;
}



.chat-group-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  &__errors {
    margin: 30px 0;
    padding: 20px 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;
  }
  &__label {
    display: block;
    line-height: 50px;
    font-weight: bold;
    text-align: right;
  }
  &__input {
    float: left;
    width: 100%;
    line-height: 30px;
    padding: 10px 15px;
    box-sizing: border-box;
  }
  &__action-btn {
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    background-color: #38aef0;
    border: 0;
  }
  &__field {
    margin-top: 30px;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    &--left {
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
    }
    &--right {
      float: right;
      width: 70%;
    }
  }
}

.chat-group-user {
  padding: 0 15px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
  &__name {
    float: left;
  }
  &__btn {
    float: right;
    display: inline-block;
    cursor: pointer;
    &--add {
      color: #38aef0;
    }
    &--remove {
      color: #f05050;
    }
  }
}

body{
  background-color: #fffff0;
  min-width: 650px;
  .menubtn{
    height: 60px;
    width:100%;
    max-width: 60px;
    position: fixed;/*追記*/
    z-index: 999;/*追記*/
    right: 0;
    background-color: red;
  }
  .w1000{
      max-width:100%;
      margin: 0 auto;
      position: relative;/*追記*/
      height:100%;/*追記*/
      text-align: center;
  }
  nav{
      background-color: black;/*ここがクリックした後の背景色*/
      opacity: 0.7;
      padding:3px 3% 10px;/*調整*/
      position: absolute;/*追記*/
      height:100%;/*追記*/
      width:100%;/*追記*/
      
      .contact{
        list-style: none;
        padding-right: 100px;
        color: red;
      }
  }
  .content{
      padding-top: 80px;/*追記*/
      opacity: 0.7;
      background-color: black;
  }
  .header{
    height: 56px;
    width: 100%;
    opacity: 0.7;
    color: #fff;
    text-align: center;
    background-color: black;
    position: fixed;
    top: 0;
    &__title{
      font-size: 30px;
      line-height: 56px;
    }
  }
  .contents{
    margin: 30px auto 0;
    background-color: #fff;
    height: 2600px;
    width: 70%;
    overflow: scroll;
    text-align: center;
    .video1__box {
      height: 100px;
      width: 100%;
      background-color: black;
      margin: 0 auto;
      opacity: 0.7;
      margin-bottom: 50px;
      margin-top: 50px;
      
      .video1__title{
        color: white;
        line-height: 100px;
        font-size: 60px;
        
      }
    }
    .video1{
      margin: 10px 15% 50px 15%;
      background-color: #fffff0;
      background-image: image-url('bokashi.jpg');
      background-size: cover;
    }
    .video2{
      margin: 10px 25% 50px 25%;
      background-color: #fffff0;
    }
    .video3{
      margin: 10px 25% 50px 25%;
      background-color: #fffff0;
    }
    .video4{
      margin: 10px 25% 50px 25%;
      background-color: #fffff0;
    }
    .video5{
      margin: 10px 25% 50px 25%;
      background-color: #fffff0;
    }
    .video6{
      margin: 10px 25% 50px 25%;
      background-color: #fffff0;
    }
  }
  .footer {
    height: 120px;
    width: 100%;
    background-color: #393d36;
    color: #fff;
    font-size: 13px;
    text-align: center;
    line-height: 120px;
  }
}