

.account-page {
  align-items: center;
  text-align: center;
  margin: 0 auto;
  height:500px;
  .account-page__inner--right {
    padding-top: 50px;
    margin: 0 auto;
    height:600px;
    width: 50%;
    .field {
      margin-bottom: 10px;
      
      .field-label {
        margin:0 auto;
        padding: 10px 0;
        letter-spacing: 1px;
        font-size: 30px;
        font-weight: 200;
        
      }
      .field-input {
        
        align-items: center;
        text-align:center;
        margin:0 auto;

        input {
          margin:0 auto;
          width: 100%;
          padding: 10px;
          letter-spacing: 1px;
        }
      }
    }
  }
    

  .btn {
    display: inline-block;
    height: 50px;
    padding: 0 30px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
  }

  input[type='submit'] {
    
    margin-top: 20px;
    color: #fff;
    background-color: rgb(91, 91, 214);
  }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    }
  
}
